/*Общие*/
html{
	height: 100%;
}

body{
	background: #fff  url("../img/bg.jpg");
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
}

#wrapper{
	min-height: 100%;
	height: 100%;
}

.clearfix::after{
	content: "";
	display: table;
	clear: both;
}

/*верхняя панель*/
.container{
	width: 960px;
	margin: 0 auto;
	
}

.panel-top{
	height: 33px;
	border-top: 3px solid #cc3333;
	background: #2a2a2a;
}

.social{
	float: left;
	padding: 4px 0;
}

.social a{
	display: inline-block;
	height: 23px;
	width: 23px;
	vertical-align: middle;
	background: url("../img/sprite-social.png") no-repeat center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

 .social a.s-fb{
	background-position: 0 0;
}

.social a.s-dribble{
	background-position: -23px 0;
}

.social a.s-tw{
	background-position: -46px 0;
}

.social a.s-mail{
	background-position: -69px 0;
}

.social a.s-vimeo{
	background-position: -92px 0;
}

.login{
	float: right;
	padding-top: 5px;
}

.login a,
.login span{
	color:#fff;
}

.login a:hover{
	text-decoration: underline;
}

.basket{
	float: right;
	margin-right: 25px;
	width: 90px;
	height: 45px;
	background: #cc3333 url("../img/cart.png") no-repeat 8px 7px;
	-webkit-border-radius:0 0 10px 10px;
	-moz-border-radius:0 0 10px 10px;
	-o-border-radius:0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	overflow: hidden;
}

.basket a{
	display: block;
	height: 45px;
	color: #fff;
	padding: 15px 0 0 41px;
}

.header-bot{
	padding: 18px 0;
}
/*Верхняя панель*/

/*Логотип и навигация*/
.logo{
	float: left;
	
}

.logo img,
.logo span{
	display: inline-block;
	vertical-align: middle;
}

.logo span{
	font-size: 30px;
	color:black;
}

.main-navigator{
	float:right;
}

.hrz{
	margin-top: 25px;

}
.hrz li {
	position: relative;
	float: left;
	display: inline-block;
}

.hrz li:before{
	content: "";
	display: none;
	position: absolute;
	top:-18px;
	left:50%;
	margin-left: -18px;
	width: 35px;
	border-top: 3px solid #efc539;
}

.hrz li:hover:before,
.hrz li.active:before{
	display:block;
}

.hrz li+li{
	margin-left:30px; 
}

.hrz li a{
	font-weight: bold;
	font-size: 14px;
	font-style: Arial;
	text-transform: uppercase;
}
/*Логотип и навигация*/

/*шапка-сайтбар*/
.home{
	margin-bottom: 40px;
	padding-bottom: 8px;
	border-bottom: 1px solid #e0e0e0;
	background: #fff;
}

.home-bg{
	padding: 20px 0;
	min-height: 40px;
	background: #cc3333;
	-webkit-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	-moz-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	-o-box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
	box-shadow: inset 0 5px 5px rgba(0,0,0,.25);
}

.sb-home{
	float: left;
}

.home-icon{
	padding-top:8px; 
	float: right;
}
.title-home{

	margin: 0;
	padding: 0;
	font-size: 28px;
	color:#fff;
	text-transform: uppercase;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.breadcrumbs{
	margin: 0;
	padding: 0;
}

.breadcrumbs li{
	list-style: none;
	float: left;
}

.breadcrumbs li a,
.breadcrumbs li span{
	font-size: 12px;
	color:#fff;
	-webkit-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	-moz-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	-o-text-shadow: 0 1px 1px rgba(0,0,0,.25);
	text-shadow: 0 1px 1px rgba(0,0,0,.25);
}

.sp{
	display: inline-block;
	margin: 0 5px;
}

.breadcrumbs li a:hover{
	text-decoration: underline;
}

.link-home{
	margin-bottom: 20px;
	float: right;
	display: inline-block;
	width: 36px;
	height: 33px;
	background: url("../img/home.png") no-repeat center;

}
/*шапка-сайтбар*/

/*раздел категории*/
.serting{
	width: 950px;
	margin-bottom:30px;
	padding: 18px 8px;
	background: #fff;
	border: 1px solid #eaeaea;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
	border-radius: 3px;

}

.sert{
	float: left;
	margin: 0;
	padding: 0;
}

.s-category{
	margin: 0;
	padding: 0;
}

.s-category li{
	padding: 0 15px 0 3px;
	
	display: inline-block;
	list-style: none;
	background: url("../img/s-sp.png") no-repeat right 6px;

}

.s-category li+li{
	margin-left:10px;
}

.s-category li a{
	color:#1e1e20;
	font-size: 14px;
	text-transform: uppercase;
}

.s-category a:hover,
.s-category li.active {
	color: #000;
	text-decoration:underline;
}

.s-list{
	float: right;
}

.s-list a{

	display: inline-block;
	vertical-align: middle;
}

.s-list a+a{
	margin-left: 10px;
}

.ic-squares{
	width: 30px;
	height: 20px;
	background: #fff url("../img/squares.png") no-repeat;
}

.ic-list{
	margin-right: 10px;
	width: 30px;
	height: 20px;
	background: #fff url("../img/list.png") no-repeat;
}

.sel-serting{
	float: left;
	margin-left: 170px;
}
/*раздел категории*/

	/*основной контент*/

.middle{
	padding-bottom: 300px;
}	
	/*caйтбар*/
.sidebar{
	width: 240px;
	float: right;
	outline: 1px solid red;
}

.s-title{
	position: relative;
	margin: 0 0 10px;
	padding:0 0 12px;
	padding-left: 15px; 
	font: normal 18px 'Osvald',sans-serif;
	text-transform: uppercase;	
	font-weight: bold;
	color: #2a2b2c;
	border-bottom:1px dotted #d5d5d5;
}

.s-title-br{
	position: absolute;
	top:100%;
	left:0;
	width: 40px;
	height: 7px;
	margin-top: -3px;
	background-color: #cc3333;
}

.s-product{
	padding-left: 15px;
}

.last{
	margin-top: 40px;
}

.s-product-items{
	margin-bottom: 10px;
}

.s-product-img{
	height: 90px;
	width: 90px;
	float: left;
	overflow: hidden;
	padding: 5px;
	background: #44484e;
}

.s-product-img img{
	display: block;
}

.s-product-info{
	padding-top: 3px;
	margin-left:115px;
}

.s-product-info a{
	color: #000;
}

.s-product-info h6{
	margin-top: 0;
}

.comment{
	font-size: 11px;
	color:#1e1e20;
	text-transform: uppercase;
}

.i-comment,
.i-comment-white{
	display: inline-block;
	vertical-align: middle;
	height: 15px;
	width: 12px;
	margin-right: 5px;
	background:  url('../img/comments.png')no-repeat center;
}

.i-comment-white{
	background: url('../img/comments_white.png') no-repeat center;
}


.cat-list{
	padding-left: 20px;
	margin:10px 0 30px 0;
	list-style: url('../img/bullet.png');
	list-style-position: inside;
	
}



.cat-list li{
	padding: 10px 0;
	border-bottom: 1px dotted #9fa0a1;
}

.cat-list li:last-child{
	border-bottom: none;
}

.cat-list a{
	font-size: 13px;
	font-weight: bold;
	color: #2a2b2c;
}

.cat-list a:hover{
	text-decoration: underline;
}

.cat-list span{
	display: inline-block;
	margin-left: 5px;
	font-size: 13px;
	font-weight: bold;
	color: #7d7e7e;
}

form{
	margin: 0;
	padding: 0;
}
.s-search{
	position: relative;
	margin-top: 15px;
	padding-left: 15px;
	
}

.s-search input[type="text"]{
	display: block;
	width: 77%;
	height: 40px;
	background: #fff;
	padding: 0 35px 0 15px;
	border: 1px solid #e7e7e7;
	-webkit-box-shadow:  0px 1px 2px rgba(0,0,0,0.6);
	-moz-box-shadow:  0px 1px 2px rgba(0,0,0,0.6);
	-o-box-shadow:  0px 1px 2px rgba(0,0,0,0.6);
	box-shadow:  0px 1px 2px rgba(0,0,0,0.6);

}

.s-search input[type="submit"]{
	height: 40px;
	width: 40px;
	position: absolute;
	top:0;
	right:0;
	border: none;
	background: transparent url('../img/search.png') no-repeat center;
	cursor: pointer;
}

.s-search input[type="text"]::-webkit-input-placeholder{
	font-style: italic;
	color: #c3c2c2;
}




	/*caйтбар*/

.content{
	margin-right:285px;
	outline:1px solid red;
}

.product-catalog{
	margin: 0;
	padding: 0;
}

.products{
	width: 215px;
	height: 370px;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	background: #fff;
	border-radius: 5px;
	overflow: hidden;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius: 5px;
	-webkit-box-shadow:  0 2px 3px rgba(0,0,0,.15);
	-moz-box-shadow:  0 2px 3px rgba(0,0,0,.15);
	-o-box-shadow:  0 2px 3px rgba(0,0,0,.15);
	box-shadow:  0 2px 3px rgba(0,0,0,.15);
}

.products:nth-child(3n){
	margin-right: 0px;
}

.p-images{
	margin:0;
	padding: 0;
	position: relative;
	height: 216px;
	min-width: 216px;
	overflow: hidden;
	border: 1px solid #000;
	border-radius: 5px;
	box-shadow: 0 3px 5px rgba(0,0,0,0.75)
}

.sale{
	position: absolute;
	top:13px;
	left: 13px;
	width: 50px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
	color: white;
	z-index: 3;
	background: rgba(204,51,51,.8);
	border-radius: 50%;
}

.products h6,
.s-product-info h6{
	margin:8px 0;
	padding:0; 
	font-size: 15px;
	font-weight: bold;
}

.products h6 span{
	font-weight: normal;
	font-style: italic;
}

.products h6 a{
	color: #000;
}

.products h6 a:hover,
.s-product-info h6:hover{
	text-decoration: underline;
}

.p-footer{
	padding: 0 8px 15px;
}

.fur{
	font-weight: bold;
}

.p-footer p{
	margin-bottom: 10px;
}

.price{
	display: inline-block;
	text-decoration: line-through;
	font-weight: bold;
	margin-top: 3px;
}

.new-price{
	display: inline-block;
	padding: 1px 3px;
	font-weight: bold;
	line-height: 18px;
	color: white;
	background-color: #cc3333;
	margin-top: 3px; 
}

.price-lg{
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	margin-top: 3px;
}

.addcart{
	display: block;
	float: right;
	font-size: 10px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	background: #1e1e20;
	padding: 7px 10px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	border-radius: 5px;
}

.addcart:hover{
	background: #888;
	color: #000;
}

.rate1 {
	height:15px;
	width: 25%;
	background: url(../img/red-star.png);
}

.rate{
	width: 73px;
	height: 15px;
	margin: 10px 0;
	background: url(../img/star.png);
}

.pagination{
	border: 1px solid #eaeaea;
	margin: 20px 0;
	padding: 10px 20px;
	background: #fff;
}

.pagination ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.pagination ul li{
	float: left;
	margin-right: 12px;
}

.pagination ul a{
	color: #000;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
}

.pagination ul .active a{
	color:#cc3333;
}

/*основной контент*/

/*footer*/
#footer{
	position: relative;
	margin-top: -300px;
	height: 300px;
	background:#666 url('../img/backgroundnew.png');
	border-top: #000 5px solid;
	padding: 25px 0 20px 0;
}

#footer p{
	margin-top: 30px;
	color: #fff;
	font-size: 13px;
}

.f-title{
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	margin-bottom:20px;
}

.f-about{
	float: left;
	width: 230px;
	margin-right: 15px;
}

.f-arhives{
	float: left;
	width: 190px;
	margin-left: 15px;
}

.f-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.f-list li{
	padding: 10px 0 10px 0;
	border-bottom: 1px dotted #acaba9;
}

.f-list li:last-child{
	border-bottom: none;
}

.f-list li a{
	font-size: 13px;
	color: #fff;
}

.f-popular{
	float: left;
	margin-left: 20px;
	width: 230px;
	

}

.f-popular .s-product h6 a,
.f-popular .comment{
	color:#fff;
}

.f-popular h5{
	padding-left: 15px;
}


.f-popular .comment{
	margin-left: 10px;
}

.f-search{
	float:right;
	width: 205px;

}

.f-search-inp {
	display: block;
	height: 35px;
	width: 100%;
	color:#aaa;
	font-size: 13px;
	font-style: italic;
	padding: 0 10px;
	border: 1px solid #333434;
	background: #000;
}

#footer a.tegs{
	display: inline-block;
	font-size: 13px;
	color: #fff;
	background: #2a2a2a;
	padding: 3px 7px;
	margin-bottom: 4px;
}

.f-social a{
	display: inline-block;
	height: 24px;
	width: 24px;
	background: rgba(0,0,0,0.3)
	url("../img/sprite-s.png") no-repeat center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.f-social a.s-fb{
	background-position: 0 center;
}

.f-social a.s-dribble{
	background-position: -25px center;
}

.f-social a.s-tw{
	background-position: -50px center;
}

.f-social a.s-mail{
	background-position: -75px center;
}

.f-social a.s-vimeo{
	background-position: -100px center;
}

.footer-bottom{
	vertical-align: middle;
	height: 30px;
	padding: 10px 0;
	border-top: solid 2px #000;
	background:#1b1b1b

}

.footer-bottom a{
	font-size: 11px;
	color: #6e6e6e;
	text-shadow: 0 1px 1px rgba(0,0,0,0.5);
}

.footer-bottom a{
	display: inline-block;
	margin-left:10px;
}

.footer-bottom a:hover{
	text-decoration: underline;
}

.home-link{
	position: absolute;
	top:-15px;
	right: 30px;
	display: block;
	width: 30px;
	height: 30px;
	background: #cc3333 url('../img/arrow.png')no-repeat center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;

}


/*footer*/



