/* Icons from directory "" */
.icon-ALARM,
.icon-ALARM\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.icon-ALARM-dims {
    width: 62px;
    height: 61px;
}
.icon-ARROWDOWN,
.icon-ARROWDOWN\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -61px;
    background-repeat: no-repeat;
}
.icon-ARROWDOWN-dims {
    width: 52px;
    height: 42px;
}
.icon-BOOK2,
.icon-BOOK2\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -103px;
    background-repeat: no-repeat;
}
.icon-BOOK2-dims {
    width: 62px;
    height: 62px;
}
.icon-BULLSEYE,
.icon-BULLSEYE\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -165px;
    background-repeat: no-repeat;
}
.icon-BULLSEYE-dims {
    width: 62px;
    height: 62px;
}
.icon-COMPUTEROK,
.icon-COMPUTEROK\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -227px;
    background-repeat: no-repeat;
}
.icon-COMPUTEROK-dims {
    width: 62px;
    height: 58px;
}
.icon-EQUALIZER,
.icon-EQUALIZER\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -285px;
    background-repeat: no-repeat;
}
.icon-EQUALIZER-dims {
    width: 58px;
    height: 62px;
}
.icon-HOME,
.icon-HOME\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -347px;
    background-repeat: no-repeat;
}
.icon-HOME-dims {
    width: 62px;
    height: 61px;
}
.icon-IMAGE,
.icon-IMAGE\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -408px;
    background-repeat: no-repeat;
}
.icon-IMAGE-dims {
    width: 62px;
    height: 62px;
}
.icon-LINEGRAPH,
.icon-LINEGRAPH\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -470px;
    background-repeat: no-repeat;
}
.icon-LINEGRAPH-dims {
    width: 62px;
    height: 62px;
}
.icon-MAIL,
.icon-MAIL\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -532px;
    background-repeat: no-repeat;
}
.icon-MAIL-dims {
    width: 93px;
    height: 91px;
}
.icon-MARKER-MAP,
.icon-MARKER-MAP\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -623px;
    background-repeat: no-repeat;
}
.icon-MARKER-MAP-dims {
    width: 50px;
    height: 56px;
}
.icon-PICTURE,
.icon-PICTURE\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -679px;
    background-repeat: no-repeat;
}
.icon-PICTURE-dims {
    width: 60px;
    height: 60px;
}
.icon-SPEECHBUBBLE2,
.icon-SPEECHBUBBLE2\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -739px;
    background-repeat: no-repeat;
}
.icon-SPEECHBUBBLE2-dims {
    width: 46px;
    height: 45px;
}
.icon-USERS,
.icon-USERS\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -784px;
    background-repeat: no-repeat;
}
.icon-USERS-dims {
    width: 62px;
    height: 53px;
}
.icon-VIEW,
.icon-VIEW\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -837px;
    background-repeat: no-repeat;
}
.icon-VIEW-dims {
    width: 50px;
    height: 42px;
}
.icon-bascet,
.icon-bascet\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -879px;
    background-repeat: no-repeat;
}
.icon-bascet-dims {
    width: 48px;
    height: 45px;
}
.icon-dribbble,
.icon-dribbble\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -924px;
    background-repeat: no-repeat;
}
.icon-dribbble-dims {
    width: 46px;
    height: 46px;
}
.icon-facebook,
.icon-facebook\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -970px;
    background-repeat: no-repeat;
}
.icon-facebook-dims {
    width: 38px;
    height: 46px;
}
.icon-googleplus,
.icon-googleplus\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -1016px;
    background-repeat: no-repeat;
}
.icon-googleplus-dims {
    width: 46px;
    height: 44px;
}
.icon-instagram,
.icon-instagram\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -1060px;
    background-repeat: no-repeat;
}
.icon-instagram-dims {
    width: 46px;
    height: 46px;
}
.icon-pinterest,
.icon-pinterest\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -1106px;
    background-repeat: no-repeat;
}
.icon-pinterest-dims {
    width: 43px;
    height: 46px;
}
.icon-serch,
.icon-serch\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -1152px;
    background-repeat: no-repeat;
}
.icon-serch-dims {
    width: 48px;
    height: 48px;
}
.icon-tumblr,
.icon-tumblr\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -1200px;
    background-repeat: no-repeat;
}
.icon-tumblr-dims {
    width: 40px;
    height: 46px;
}
.icon-twitter,
.icon-twitter\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -1246px;
    background-repeat: no-repeat;
}
.icon-twitter-dims {
    width: 46px;
    height: 44px;
}
.icon-youtube,
.icon-youtube\:regular {
    background-image: url("icons/icons.svg");
    background-position: 0 -1290px;
    background-repeat: no-repeat;
}
.icon-youtube-dims {
    width: 46px;
    height: 42px;
}
